################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/CalculoRotas/FileContentIndex/5bf3941d-fdb8-46e8-89eb-6be77629f130.vsidx
